body {
  background: #2C2C2C;
  color: #FAFAFA;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
  color: #313131;
}

.header {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 10px 45px 225px auto;
  grid-template-rows: 10px 45px 160px 100px;
}
.header .header__homeButton {
  height: 40px;
  width: 40px;
  background-color: #74787B;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
  margin: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}
.header .header__homeButton a {
  color: #313131;
  text-decoration: none;
}
.header .header__homeButton img {
  width: 30px;
}
.header .header__info {
  grid-row: 4;
  grid-column: 2/4;
  justify-self: self-start;
  align-self: center;
  margin-top: 10px;
}
.header .header__info ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
.header .header__info ul a {
  color: #3AB5FE;
}
.header .header__info ul a:hover {
  text-decoration: underline;
}
.header h1 {
  font-family: "Ubuntu", sans-serif;
  grid-row: 3;
  grid-column: 4;
  justify-self: flex-start;
  align-self: flex-end;
  margin-left: 28%;
}
.header .header__profile {
  padding-bottom: 0px;
  padding-left: 0;
  grid-area: 3/3/4/4;
  justify-self: stretch;
  align-self: center;
}
.header .header__profile img {
  width: 150px;
  height: 150px;
  border: solid 2px #74787B;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313131;
  padding-bottom: 10px;
}
.main .main__folder {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main .main__folder button {
  color: #FAFAFA;
  margin: 20px 0px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  font-weight: bold;
}
.main .main__folder ul {
  padding-left: 0;
  margin: 0px;
}
.main .main__folder ul li {
  display: none;
}
.main .main__folder--button-1 {
  background-color: rgba(255, 182, 51, 0.95);
}
.main .main__folder--button-2 {
  background-color: rgba(47, 216, 72, 0.8);
}
.main .main__folder--button-3 {
  background-color: rgba(211, 93, 227, 0.95);
}
.main .main__folder--button-4 {
  background-color: #3AB5FE;
}
.main .main__folder:hover ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background-color: #2C2C2C;
  padding: 10px 0px;
}
.main .main__folder:hover ul a {
  color: #FAFAFA;
}
.main .main__folder:hover ul a li {
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px #313131;
  display: inline-block;
  margin: 4px;
  padding: 2px 25px;
  border-radius: 25px;
}

.footer {
  background-color: #313131;
  border-top: solid 2px #74787B;
}
.footer .footer__list {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
}
.footer .footer__list .footer__list--element {
  padding: 15px 0px;
}
.footer .footer__list .footer__list--element a {
  color: #74787B;
}
.footer .footer__list .footer__list--element a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=portfolio.css.map */
